{% extends "base.html" %}
{% load i18n %}
{% load bbcode %}


{% block title %}{% trans "Home" %}{% endblock %}
{% block navpage %}{% endblock %}


{% block content %}
    <h2>{% trans "Welcome" %}</h2>
    {{ welcome.getMainText|safe }}
    </br>

    <h2>{% trans "Our Candidate" %}</h2>
    {{ candidate.getMainText|safe }}
    </br>

    <h2>{% trans "News" %}</h2>
    </br>
    {% include "events\event.html" %}

{% endblock %}
{% block aside %}
    <h2>{{ aside.getTitle }}</h2>
    {{ aside.getMainText|safe }}
{% endblock %}