{% extends "base.html" %}
{% load i18n %}


{% block title %}{% ifequal language "en" %}Home{% endifequal %}{% ifequal language "fr" %}Acceuil{% endifequal %}{% endblock %}
{% block menu-home %}class="current"{% endblock %}


{% block content %}
    <h2>
    	{% trans "Welcome" %}
    </h2>
    {{ welcome.getMainText }}

    <h2>
    	{% trans "Our Candidate" %}
    </h2>
    {{ candidate.getMainText }}
{% endblock %}
{% block aside %}
    <h2>
        {% trans "Aside heading" %}
    </h2>
    <p>
    	Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
    </p>
{% endblock %}