{% extends "base.html" %}

{% block title %}{% ifequal language "en" %}Events{% endifequal %}{% ifequal language "fr" %}Événements{% endifequal %}{% endblock %}
{% block menu-events %}class="current"{% endblock %}
{% block navpage %}events{% endblock %}

{% block pagetitle %}{% ifequal language "en" %}Events{% endifequal %}{% ifequal language "fr" %}Événements{% endifequal %}{% endblock %}

{% block col1 %}
    {% for event in events %}
        <h3>{{ event.getTitle }}</h3><br>
        {{ event.date|date:"d-m-Y" }}<br>
        <p>{{ event.getText|linebreaks }}</p>
    {% endfor %}
{% endblock %}

<p>This is some new text</p>